@font-face {
    font-family: brandon;
    src: url("../fonts/bglight.otf") format("opentype");
}

@font-face {
    font-family: brandon;
    font-weight: 900;
    src: url("../fonts/bgblack.otf") format("opentype");
}
